@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap')

// fonts
$poppins: 'Poppins', sans-serif


//colors

$navbarTextColor: #4F4F4F
$mainTextColor: #333333
$saleColor: #DB2C66
$previousColor: #828282
$hoverText: #2DD06E

//image

$assetsPath: "../../images"