.phone-list
    // @include flex(column, $align: flex-start)
    // gap: 60px
    .black-page
        position: fixed
        background-color: #0000006e
        @include size(100vw, 100vh)
        top: 0
        left: 0
        z-index: 9999
        @include flex(column, center, center)
        .loading
            @include size(20%, auto)
        p
            margin-top: 40px
            color: white
            @include font(16px, 500)
        @media (min-width: 1366px)
            .loading
                @include size(10%, auto)
            p
                @include font(20px, 500)

    .phone-list_ul
        @include flex(row, flex-start, stretch)
        flex-wrap: wrap
    .pagination-btns
        @include flex(row, center)
        align-self: center
        gap: 20px
        cursor: pointer
        margin: 10% 0 20% 0

        .pagination-active
            a
                background-color: $hoverText
                @include size(32px, 32px)
                padding: 20px
                color: white
                border-radius: 8px
                @include flex(row, center , center)
                overflow: hidden
        .pagination-disabled
            a
                @include size(32px, 32px)
                padding: 20px
                border-radius: 8px
                @include flex(row, center , center)
                overflow: hidden
        .previous-btn 
            @include size(36px, 36px)
            border-radius: 50%
            border: 1px solid #C4C4C4
            @include flex(row, center, center)
        .next-btn
            @extend .previous-btn
    @media (min-width: 1366px)
        .phone-list_ul
            @include flex(row, flex-start, stretch)
        .pagination-btns
            margin: 5% 0 10% 0
