.product-sort
    @include flex(column-reverse)
    p
        @include font(16px, 500)
    .product-btns
        @include flex(row, space-between, center)
        padding: 0 40px 30px
        .box-sort
            width: 130px
            @include flex(row, center, center)
            .product-select
                padding: 10px
                border: none
                overflow: hidden
                width: 100%
                @include font(16px, 500)
                -webkit-appearance: none
                -moz-appearance: none
                white-space: nowrap
                text-overflow: ellipsis
                &:focus
                    outline: none
        .filter-btn
            @include flex(row, center, center)
            gap: 10px
            @include font(16px, 400)
            width: 130px
    @media (min-width: 1366px)
        @include flex(row, space-between, center)
        p
            @include font(20px, 500)
        .product-btns
            @include flex(row, space-between, center)
            padding: 0
            .box-sort
                img
                    display: none
                .product-select
                    cursor: pointer
                    border-radius: 8px
                    border: 1px solid black
                    -webkit-appearance: menulist
                    -moz-appearance: menulist
            .filter-btn
                display: none