.product-sort
    @include flex(column-reverse)
    p
        @include font(16px, 500)
    .product-btns
        @include flex(row, space-between, center)
        padding: 0 40px 30px
        .css-htbx1d
            min-width: 100px
            .css-1d3z3hw-MuiOutlinedInput-notchedOutline
                border-radius: 16px
                border: none
        .filter-btn
            @include flex(row, center, center)
            gap: 10px
            @include font(16px, 500)
    @media (min-width: 1366px)
        @include flex(row, space-between, center)
        p
            @include font(20px, 500)
        .product-btns
            @include flex(row, space-between, center)
            padding: 0
            .css-htbx1d
                min-width: 220px
                .css-1d3z3hw-MuiOutlinedInput-notchedOutline
                    border-radius: 16px
                    border: 1px solid #BDBDBD
            .filter-btn
                display: none

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon
    display: none !important
    @media (min-width: 1300px)
        display: inline-block !important
.css-bpeome-MuiSvgIcon-root-MuiSelect-icon
    display: none !important
    @media (min-width: 1300px)
        display: inline-block !important


.box-sort
    @include flex(row, center, center)
    gap: 10px
    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input
        padding: 0
    @media (min-width: 1366px)
        img
            display: none
        .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input
            padding: 16.5px 14px
