.checkout-user-address
    margin-top: 30px
    @include flex(column)
    form
        @include flex(column)
        gap: 30px
        margin-bottom: 30px
        .checkout-user-address_city
            @include flex(row)
            gap: 50px            
            div
                @include flex(column)
                gap: 10px
                input
                    @include size(310px, 50px)
                    background-color: #F2F2F2
                    border: none
                    border-radius: 8px
                    padding: 0 30px
                    font-size: 16px


.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input
    padding-left: 30px !important
    padding-right: 0 !important

.css-6hp17o-MuiList-root-MuiMenu-list
    height: 300px !important

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper
    width: 300px !important
    min-width: 0 !important