@import "../assets/styles/utils/_mixins"
@import "../assets/styles/utils/_variables"
@import "../assets/styles/utils/_reset"

@import '../components/Checkout/checkoutUserInfo'
@import '../components/Checkout/checkoutUserAddress'
@import '../components/Checkout/checkoutForm'

.checkout
    .container
        @include flex(row)
        gap: 50px
        .checkout-box
            flex: 5
    .black-page
        position: fixed
        background-color: #0000006e
        @include size(100vw, 100vh)
        top: 0
        left: 0
        z-index: 9999
        @include flex(column, center, center)
        .loading
            @include size(20%, auto)
        p
            margin-top: 40px
            color: white
            @include font(16px, 500)
        @media (min-width: 1366px)
            .loading
                @include size(10%, auto)
            p
                @include font(20px, 500)