#products
    .container
        padding: 5%
        &::before
            content: ""
            display: block
            margin-top: 12rem
        @media (min-width: 1366px)
            padding: 2% 5%