@import "../assets/styles/utils/_mixins"
@import "../assets/styles/utils/_variables"
@import "../assets/styles/utils/_reset"
@import "../components/Products/filter/main/filter"
@import "../components/Products/product-list/main/productList"
@import "../components/Products/filter/filter-category/filterCategory"
@import "../components/Products/product-list/Sort/sort"
@import "../components/Products/product-list/phone-list/phoneList"
@import "../components/Products/product-list/phone-list/phoneItem/phoneItem"
    
#products
    .css-1p5q5e5-MuiStack-root
        display: none
        @media (min-width: 1366px)
            display: flex
            padding:  20px 5%
            a
                &:hover
                    text-decoration: underline
                &:active
                    color: black
    .container
        padding: 5%
        @media (min-width: 1366px)
            padding: 2% 5%
            @include flex(row, space-between)
            gap: 40px
    