@import "../assets/styles/utils/_mixins"
@import "../assets/styles/utils/_variables"
@import "../assets/styles/utils/_reset"

@import "../components/Product-Inside/product-image-slider/productImages"
@import "../components/Product-Inside/product-option/productOption"
@import "../components/Product-Inside/Params-Comment/paramsComment"
@import '../components/Product-Inside/Comment/productComment'
@import '../components/Product-Inside/Comment/comment'
@import '../components/Product-Inside/Comment/commentFrom'
    
#product-inside
    .black-page
        position: fixed
        background-color: #0000006e
        @include size(100vw, 100vh)
        top: 0
        left: 0
        z-index: 9999
        @include flex(column, center, center)
        .loading
            @include size(20%, auto)
        p
            margin-top: 40px
            color: white
            @include font(16px, 500)
        @media (min-width: 1366px)
            .loading
                @include size(10%, auto)
            p
                @include font(20px, 500)

    .css-1p5q5e5-MuiStack-root
        display: none
        @media (min-width: 1366px)
            display: flex
            padding:  20px 5%
            a
                &:hover
                    text-decoration: underline
                &:active
                    color: black
    .container
        .product-detail
            @include flex(column, $align: center)
            gap: 50px
        .params-comment
            @include flex(row)
            margin-top: 60px
            color: #BDBDBD
            @include font(16px, 400)
            gap: 15%
            p
                cursor: pointer
                padding: 5px 0
        @media (min-width: 1366px)
            .product-detail
                @include flex(row, space-between, flex-start)
                gap: 50px
            .params-comment
                margin-top: 8%
                @include font(20px, 400)
                padding: 20px 50px
                border-bottom: 2px solid #BDBDBD
                p
                    padding: 0



    
    
    
.active-text
    color: $hoverText
    border-bottom: 3px solid $hoverText
    @media (min-width: 1366px)
        color: black
        border-bottom: none
