.profile-order
    @include flex(column)
    flex: 4
    gap: 30px
    width: 100%
    padding: 0
    .black-page
        background-color: white
        @include size(100%, 500px)
        gap: 50px
        @include flex(column, center, center)
        box-shadow: 0px 0px 8px rgba(164, 164, 164, 0.50)
        border-radius: 8px
        .loading
            @include size(20%, auto)
        p
            @include font(18px, 500)
    .profile-order_title
        @include font(24px, 500)
        padding-left: 5%
    .profile-order_div
        width: 100%
        @include flex(column)
        gap: 50px
        .profile-order_list
            background-color: white
            width: 100%
            border-radius: 8px
            @include flex(column)
            padding: 3% 5%
            gap: 30px
            box-shadow: 0px 0px 8px rgba(164, 164, 164, 0.50)
            .profile-order-list_detail
                @include flex(row, space-between, center)
                .profile-order-list-detail_text
                    @include flex(row, $align: center)
                    p
                        @include flex(column)
                        gap: 1px
                        @include font(15px, 500)
                        span
                            @include font(13px, 400)
                        &:nth-child(2)
                            span
                                color: #DB2C66
                        &:nth-child(1)
                            display: none                           
                button
                    background-color: #F2F2F2
                    border: none
                    border-radius: 4px
                    @include size(120px, 40px)
                    cursor: pointer
                    font-size: 12px
            .profile-order_container
                @include flex( row, $align: center)
                border: 1px solid #BDBDBD
                border-radius: 8px
                gap: 30px
                padding: 5% 7% 5% 5%
                img
                    width: 20%
                .profile-order_detail
                    @include flex(row, space-between)
                    gap: 20px
                    width: 100%
                    p
                        @include flex(column)
                        gap: 10px
                        @include font(14px, 500)
                        span
                            @include font(12px, 400)
                        &:nth-child(1)
                            display: none
                    .profile-order-detail_price
                        span
                            color: #DB2C66
    @media (min-width: 1366px)
        .black-page
            @include size(100%, 600px)
            .loading
                @include size(10%, auto)
            p
                @include font(20px, 500)
        .profile-order_title
            padding-left: 0
        .profile-order_div
            .profile-order_list
                .profile-order-list_detail
                    .profile-order-list-detail_text
                        p
                            width: 200px
                            span
                                @include font(15px, 400)
                            &:nth-child(1)
                                display: flex                          
                    button
                        @include size(170px, 40px)
                .profile-order_container
                    gap: 10%
                    padding: 2%
                    img
                        width: 10%
                    .profile-order_detail
                        @include flex(row, flex-start)
                        padding-right: 10px
                        p
                            @include font(16px, 500)
                            width: 200px
                            span
                                @include font(14px, 400)
                            &:nth-child(1)
                                display: flex
