.product-option
    width: 55%
    @include flex(column)
    gap: 20px
    h2
        @include font(30px, 600)
    .price
        @include font(28px, 600)
    .colors
        @include flex(row, flex-start, center)
        gap: 20px
        div
            @include size(35px, 35px)
            border-radius: 50%
            border: 1px solid #E0E0E0
            cursor: pointer
    .size
        @include flex(row, flex-start, center)
        gap: 20px
        border-bottom: 1px solid #E0E0E0
        padding-bottom: 20px
        div
            @include flex(row, center, center)
            @include size(70px, 40px)
            border-radius: 8px
            border: 1px solid #E0E0E0
            cursor: pointer
            background-color: #F2F2F2
    .item-quantity
        @include flex(row, space-between, center)
        width: 15%
        .icon
            @include flex(row, center, center)
            @include size(35px, 35px)
            background-color: #F2F2F2
            border-radius: 50%
            border: 1px solid #E0E0E0
            cursor: pointer
            img
                @include size(20px, 20px)
        p
            @include font(20px, 500)
    .basket-btn
        @include flex(row, center , center)
        @include size(200px, 50px)
        background-color: $hoverText
        color: white
        border-radius: 8px
        gap: 15px
        cursor: pointer
        margin-top: 30px




        

.ağ
    background-image: white
.qara
    background-color: black
.qırmızı
    background-color: red
.yaşıl
    background-color: green
.göy
    background-color: blue