@import './utils/_mixins'
@import './utils/_variables'
@import './utils/_reset'
@import "../../components/layout/header/main/header"
@import "../../components/layout/header/navbar/navbar"
@import "../../components/layout/header/navbar-menu/menu"
@import "../../components/layout/footer/footer"

body
    &::before
        content: ""
        display: block
        margin-top: 10rem

html
    scroll-behavior: smooth