@import './utils/_mixins'
@import './utils/_variables'
@import './utils/_reset'
@import "../../components/layout/header/main/header"
@import "../../components/layout/header/navbar/navbar"
@import "../../components/layout/header/navbar-menu/menu"
@import "../../components/layout/footer/footer"

body
    &::before
        content: ""
        display: block
        margin-top: 137px
        @media (min-width: 1366px)
            margin-top: 118px

html
    scroll-behavior: smooth

// html, body 
//     position: relative
//     overflow-x: hidden

.active-body
    overflow: hidden


.container
    padding: 5%
    @media (min-width: 1366px)
        padding: 2% 5%