@import './utils/_mixins'
@import './utils/_variables'
@import './utils/_reset'
@import "../../components/layout/header/main/header"
@import "../../components/layout/header/navbar/navbar"
@import '../../components/layout/header/navbar/search/searchDiv'
@import "../../components/layout/header/navbar-menu/menu"
@import "../../components/layout/footer/footer"

body
    &::before
        content: ""
        display: block
        margin-top: 137px
        @media (min-width: 1366px)
            margin-top: 125px

html
    scroll-behavior: smooth


.active-body
    overflow: hidden


.container
    padding: 5%
    @media (min-width: 1366px)
        padding: 2% 5%

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button 
    -webkit-appearance: none
    margin: 0


.error-message
    color: #bf1650
    &:before
        display: inline
        content: "⚠ "